/* Plan.css */

.planContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .activity {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .activity h3 {
    margin-bottom: 10px;
  }
  
  .activity p {
    margin-bottom: 5px;
  }